<div class="content" role="main">
  <h2>IPTU</h2>
  <div class="card-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">IPTUs cadastrados</h5>
            <p class="card-text">Acesso a relação atualizada de imóveis cadastrados na cidade</p>
            <a [routerLink]="['/iptu-listar']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Segunda via IPTU</h5>
            <p class="card-text">Acesso a segunda via do IPTU para consulta e impressão na mesma</p>
            <a [routerLink]="['/iptu-segundavia']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
