<div class="content" role="main">
  <h2>Módulo de Informações Municipais Georeferenciadas</h2>
  <div class="card-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mapas</h5>
            <p class="card-text">Acesso aos mapas dos serviços prestados pela prefeitura e orgãos</p>
            <a href="#" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pesquisas</h5>
            <p class="card-text">Acesso aos dados e pesquisas levantadas sobre a cidade de Bom Destino</p>
            <a [routerLink]="['/researches']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

