<div class="content" role="main">
  <h2>Rede de Ensino</h2>
  <div class="card-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Matrículas</h5>
            <p class="card-text">Acesso ao gestor de matrículas dos alunos da rede municipal de ensino</p>
            <a [routerLink]="['/matriculas']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Escolas</h5>
            <p class="card-text">Acesso a relação de escolas municipais, estaduais e particulares cadastradas no sistema e suas situações</p>
            <a [routerLink]="['/escolas']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
