<div class="content" role="main">
  <h2>Módulo de Serviços ao Cidadão</h2>
  <div class="card-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Rede de Ensino</h5>
            <p class="card-text">Acesso ao gerenciador de matriculas e relação de escolas cadastradas</p>
            <a [routerLink]="['/ensino']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">IPTU</h5>
            <p class="card-text">Acesso aos dados e informações sobre os imóveis registrados da cidade.</p>
            <a [routerLink]="['/iptu']" class="btn btn-info">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
